 .tom-and-jerry-ups-image img {
    border: 4px solid #738dbd;
    padding: 20px;
    margin: 20px;
  }

  .tom-and-jerry-enter-image {
    border: 4px solid #738dbd;
    padding: 20px;
    margin: 20px;
  }