/* Place CSS styles here */
html {
    scroll-behavior: smooth;
  }
  body {
    color: #000000;
    /* distribute font to entire site */
    font-family: 'Karla', serif;
    background-color: #ebcd79;
    padding: 12px 24px;
  }
  /* distribute font to all headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow:5px 4px 7px #0850d2;
  }
  h1 {
    font-size: 70px;
  }

  h2 {
    text-align: center;
    padding: 10px;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
    display: flex;
    justify-content: center;
  }

  /* homepage */
  .afterschool {
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
  }

  .afterschool-snack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    background-color: #dedede;
  }

  .afterschool-snack-enter-image {
    text-align: center;
  }
  .afterschool-snack-ups-image {
  }
  .afterschool-snack-ups-image img {
    border: 4px solid #738dbd;
    padding: 20px;
    margin: 20px;
  }
  h1 {
    color: #140303;
  }
  span {
    color: #0850d2;
  }
  /* .cat-capn-crunch {
    background-color: pink;
  } */
  a {
    color: #000000;
    padding: 10px;
  }
  a:hover {
    color: green;
  }
  .afterschool-center {
    text-align: center;
  }
  .snacks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    
  }
  
  .snacks-header1 {
    text-align: center;
  }
  
  .snacks-header1 nav {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .snacks-featured-image {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/giz2.jpg);
    /* These 3 rules are normally used in sets for centered background-images */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.snacks-intro {
  background-color: pink;
  text-align: center;
}

.snack-intro-content {
  display: flex;
  justify-content: center;
}

.order-now-change {
  border-style: double;
}
.snacks-smaller-image {
  width: 20%;
}
.snacks-row-3-tiles {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 12px;
}

.snacks-row-catalog-item {
  display: flex;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer img {
  width: 40px;
}  